*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
     background-color: white;
}

header{
    width: 100%;
    height: 80px;
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

header nav{
    display: flex;
    gap: 40px;
}


nav a{
    display: flex;
    color: gray;
    
}

nav a:hover{
    color: darkorange;
}

header > a{
 
    color: grey;
    font-size: 16px;
    border: 1px solid black;
    padding: 7px 25px;
    text-transform: uppercase;
    
}

header > a:hover{
    background-color: darkorange;
    color: white;
    border-color: darkorange;

}


main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

#home{
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: whitesmoke;
    
}

#home .left-div{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

#home  .right-div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 100px;
}

#home .left-div h1{
    font-size: 100px;
    font-weight: 1000;
    color: rgb(207, 76, 6);

}

#home .left-div a{
    width: 60%;
    padding: 10px 30px;
    font-size: 22px;
    border: 1px solid black;
    display: flex;justify-content: center;
    color: black;
    font-weight: 200;
    transition: 1s;

}

#home .left-div a:hover{
    background-color: black;
    color: white;
}

#home .right-div > img{
    width: 60%;
    object-fit: contain;
    transform:rotate(-30deg) scaleX(-1);
}

#home .right-div span{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
  

}

#home .right-div span small{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .right-div .active{
    border-color: rgb(207, 76, 6);
}


#home .right-div span small img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


#product{
    width: 100%;
    min-height: 100vh;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}


#product h1{
    font-size: 45px;
    font-weight: 100;
    
}

#product article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
   
}

#product article div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

#product article div small{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid darkblue;
    gap: 20px;
}

#product article div small img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}



#order{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;


}

#order h1{
   
    font-size: 45px;
    margin-top: 80px;
    font-weight: 100;
    text-transform: uppercase;
}

#order article{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    padding: 100px 50px;
    justify-content: space-between;
    align-items: flex-start;
}

#order article div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    padding: 50px;
    gap: 30px;

}

#order article .left-div > img{
    width: 80%;
    object-fit: contain;
    gap: 30px;

}

#order article .left-div a{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkblue;
    padding: 10px 25px;
    gap: 30px;
    font-size: 20px;
    color: black;
    font-weight: 200;
    transition: 1s;
}

#order article .left-div a:hover{
    background-color: darkblue;
    color: white;
}

#order article .right-div{
    background-color: white;

}

#order article .right-div h4{
    color: rgb(207, 76, 6);
    font-size: 20px;
    font-weight: 400;
   
}

#order article .right-div p{
    font-size: 18px;
    font-weight: 200;
}

#order article .right-div button{
    width: fit-content;
    padding: 10px 25px;
    background-color: rgb(207, 76, 6);
    border: 1px solid rgb(207, 76, 6);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 1s;

}

#order article .right-div button:hover{
    background-color: black;
    border-color: black;
}

#contact{
    width: 100%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

#contact h1{
    font-size: 45px;
    font-weight: 100;
}

#contact article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact article .left{
    width: 45%;
    height: 300px;
    background-image: url("map.png");
    background-size: cover;
    background-position: center top ;
    
    
}

#contact article .right{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

}

#contact article .right p{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#contact article .right p b{
    color: rgb(207, 76, 6);
}

footer{
    width: 100%;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
    
}

footer p{
    font-size: 11px;
}

